<launch>
    <include file="$(find adi_driver)/launch/adis16470.launch"/>
    <include file="$(find rplidar_ros)/launch/rplidar.launch"/>
    <!-- <include file="$(find usb_cam)/launch/usb_cam.launch"/> -->

    <node pkg="md" type="md_robot_node" name="md_robot_node" output="screen">
        <param name = "use_MDUI"                    value = "0"/>       <!-- 0: not use MDUI, 1: use MDUI -->
        <param name = "wheel_radius"                value = "0.085"/>  <!-- unit: meter -->
        <param name = "wheel_length"                value = "0.54"/>   <!-- unit: meter -->
        <param name = "motor_pole"                  value = "30"/> 
        <param name = "reduction"                   value = "1"/> 
        <param name = "reverse_direction"           value = "0"/>       <!-- 0: forward, 1: reverse -->
        <param name = "maxrpm"                      value = "300"/>    <!-- unit: RPM -->
        <param name = "motor_posi"                  value = "1"/>       <!-- motor pisition 0: hall sensor, 1: encoder -->
        <param name = "encoder_PPR"                 value = "4096"/>   <!-- if use encoder position, encoder PPR -->
        <param name = "position_proportion_gain"    value = "20"/>      <!-- reference PID 203(PID_GAIN) -->
        <param name = "speed_proportion_gain"       value = "50"/>      <!-- reference PID 203(PID_GAIN) -->
        <param name = "integral_gain"               value = "1800"/>    <!-- reference PID 203(PID_GAIN) -->
        <param name = "slow_start"                  value = "0"/>     <!-- unit: RPM -->
        <param name = "slow_down"                   value = "0"/>     <!-- unit: RPM -->
    </node>

    <node pkg="md" type="odom_publisher" name="odom_publisher"/>
    <!-- Reset Odometry
    $ rostopic pub -1 /reset_odom std_msgs/Bool 1
    Reset Alarm
    $ rostopic pub -1 /reset_alarm std_msgs/Bool 1
 -->
</launch>

